.col {
    display: inline-block;
    width: calc(10% - 10px);
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 5px;
    color: rgba(0,0,0,0.8);
}

.col-1 {
    width: calc(5% - 10px);
}

.col-2 {
    width: calc(10% - 10px);
}

.col-3 {
    width: calc(15% - 10px);
}

.number {
    text-align: right;
}

.row:hover {
    background-color: rgba(255, 102, 0, 0.2);
    cursor: pointer;
}

@media (max-width: 700px) {
    .mobile-hide {
        display: none;
    }

    .col-1 {
        width: calc(10% - 10px);
    }
    
    .col-2 {
        width: calc(20% - 10px);
    }
    
    .col-3 {
        width: calc(30% - 10px);
    }
}