.col {
    display: inline-block;
    width: calc(10% - 10px);
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 5px;
}

.col-1 {
    width: calc(5% - 10px);
}

.col-2 {
    width: calc(10% - 10px);
}

.col-3 {
    width: calc(15% - 10px);
}

.number {
    text-align: right;
}

.row:hover {
    background-color: lightcyan;
    cursor: pointer;
}