.col-2 {
    display: inline-block;
    width: calc(10% - 10px);
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 5px;
}

.row:hover {
    background-color: lightcyan;
    cursor: pointer;
}